@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.socialBlock {
    @include flexible(flex, column, flex-start, center);
    padding: 5rem 0;
    .socialLinks {
        margin: 1rem;
        padding: 0;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        @include text($mainFontFamily,1rem,400,0.3px,$mainElementsColor);
        list-style-type: none;
        letter-spacing: 1px;
        & a {
            color: $mainElementsTextColor;
            text-decoration: none;
            &:hover{
                color: $secondElementsTextColor;
            }
        }
    }
}





