@import './../../common/styles/sass/variables';

.burgerBtn {
    cursor: pointer;
    margin-left: 1rem;
    position: relative;
    font-size: 0.875rem;
    color: $secondElementsTextColor;

    &:hover {
        color: $mainElementsColor;
    }
}
