@import '../../../common/styles/sass/mixins';

.data {
    @include flexible(flex,column, space-around, center);
    text-align: center;
    min-width: 240px;
    width: 500px;
    margin-bottom: 1.875rem;
}