.contactsBlock {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
}

.formAndData {
    margin-top: 60px;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}