.contactsBlock {
    padding: 6.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    .formAndData {
        margin-top: 3.75rem;
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

