.contactsBlock {
    padding: 100px 20px;
}

.contactsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.formAndData {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}