@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.skill {
    width: 240px;
    @include flexible(flex, column, flex-start, center);
    padding: 3.125rem 0.625rem 3.75rem;
    margin-bottom: 1.875rem;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.15);
    transition: all 0.3s ease 0s;
    background-color: $bgColor;
}

.skill h2 {
    @include text($mainFontFamily,1.25rem,400,1px,$mainElementsTextColor);
    margin: 0;
}
.skill h2:hover {
    color: $secondElementsTextColor;
}

hr {
    border: 0;
    border-top: 2px solid $mainElementsTextColor;
}

p {
    @include text($mainFontFamily,1rem,300,0.5px,$mainElementsTextColor);
    margin: 0;
}

.hR {
    margin: 1rem auto;
    width: 50px;
}

.image {
    margin-bottom: 1.25rem;
    border: 1px solid #757575;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    transition: all 0.3s ease 0s;
    background-color: #0a101e;
    @include flexible(flex, row, center, center);
}

.icon {
    transition: all 0.3s ease 0s;
    font-size: 1.25rem;
    color: $mainElementsColor;
}

.icon:hover {
    color: $mainElementsTextColor;
}
