.dataBlock {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
    text-align: left;
}

h4 {
    margin: 0;
    text-transform: capitalize;
    color:#494949;
}

span {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color:#494949;
}

.icon {
    border: 1px solid #fec544;
    border-radius: 50%;
    font-size: 24px;
    height: 47px;
    line-height: 47px;
    margin-right: 12px;
    text-align: center;
    width: 47px;
    color: #fec544;
}

.description {
    display: flex;
    flex-direction: column;
}
