@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.vacancyBlock {
    max-height: 20vh;
    padding: 5rem 0;

    .vacancyContainer {
        @include flexible(flex, column, space-between, center);
        text-align: center;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .header {
        color: $mainElementsColor;
        background-color:$bgColor;
        padding: 1.13rem 2.5rem 1.25rem;
        border-bottom: 1px solid $borderInputColor;
        @include flexible(flex, column, center, baseline);

        h4 {
            font-size: 1.38rem;
            font-weight: 600;
            margin: 0;
            line-height: 1.43;
        }

        p {
            margin: 0.18rem 0 0 0;
        }
    }

    .form {
        padding: 1.88rem 2.5rem;
        background-color: #070d1b;

        .inputBlock {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;

            input {
                @include text($mainFontFamily,1.2rem,500,0.5px,$mainElementsColor);
                padding: 0.63rem 0;
                font-family: $mainFontFamily;
                margin-top: 1.25rem;
                border: 1px solid $borderInputColor;
                text-indent: 1rem;
                background-color: $bgInputColor;
            }

            &:active, :hover, :focus {
                outline: none;
                outline-offset: 0;
            }

        }

        textarea {
            @include text($mainFontFamily,1.2rem,500,0.5px,$mainElementsColor);
            font-family: $mainFontFamily;
            background-color: $bgInputColor;
            max-height: 300px;
            border: 1px solid $borderInputColor;
            margin: 1.25rem 0;
            padding: 0.68rem;
            width: 95%;
            height: 100px;
            resize: none;
        }

        &:active, :hover, :focus {
            outline: none;
            outline-offset: 0;
        }
    }
}

