.button {
    padding: 0 30px;
    margin-top: 40px;
    background-color: #393939;
    border: 0 none;
    border-radius: 5px;
    font-size: 14px;
    height: 47px;
    line-height: 50px;
}
.button a {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 14px;
    padding: 0 5px;
    font-weight: 650;
}
