@import '../../../common/styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  @include text($mainFontFamily,24px,500,1px,$mainElementsColor);
  margin: 0 0 20px;
  text-transform: uppercase;
  position: relative;

  & h2 {
    margin: 0 0 15px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $mainElementsColor;
    width: 70px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
}




