.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.inputBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

input {
    border: none;
    border-bottom: 1px solid white;
    padding: 5px 0;
    font-family: Montserrat sans-serif;
    width: 49%;
}

textarea {
    font-family: Montserrat sans-serif;
    max-height: 300px;
    border: 1px solid white;
    margin: 40px 0 20px 0;
    padding: 11px;
    width: 95%;
    height: 100px;
    resize: none;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: yellow;
    border: 0 none;
    border-radius: 0;
    height: 40px;
    padding: 0 40px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}