.skillsBlock {
    padding: 100px 0;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    border: 2px dotted floralwhite;
    background-color: #101624;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
