.skillsBlock {
    padding: 5rem 0;
    .skillsContainer {
        justify-content: flex-start;
        flex-direction: column;
        .skills {
            margin-top: 3.75rem;
            background-color: #101624;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
}




