@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
    min-height: 100vh;
    @include flexible(flex, column, flex-start, center);
    .container {
        @include flexible(flex, row, space-between, center);
        height: 100%;
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;
        .greeting {
            width: 500px;
            text-align: left;
            & h5 {
                @include text($mainFontFamily,30px,300,1px,$mainElementsColor);
                text-transform: capitalize;
                margin: 0 0 15px;
            }
            & h1 {
                @include text($mainFontFamily,80px,900,1px,$secondElementsTextColor);
                margin: 0 0 15px;
                line-height: 1;
            }
            & h2 {
                @include text($mainFontFamily,36px,300,1px,$mainElementsTextColor);
                margin: 0 0 15px;
            }
        }
        .photo {
            display: flex;
            flex-direction: column;
            width: 500px;
            & img {
                height: auto;
                width: 100%;
                max-width: 720px;
            }
        }
    }
}






