.mainBlock {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.greeting {
    width: 500px;
    text-align: left;
}

.photo {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.photo img {
    height: auto;
    width: 100%;
    max-width: 720px;
}


.greeting h5 {
    font-size: 30px;
    color: #fec544;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 15px;
}

.greeting h1 {
    font-size: 80px;
    color: #fdfeff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 0 0 15px;
    line-height: 1;
}
.greeting h2 {
    font-size: 36px;
    margin: 0 0 15px;
    font-weight: 300;
    color: #a9adb8;
}

