.mainBlock {
    height: 100vh;
    background: #0a101e;
}

.greeting {
    width: 500px;
    background-color: floralwhite;
    text-align: left;
}

.photo {
    display: flex;
    flex-direction: column;
}

.photo img {
    width: 50vh;
    height: 70%;
}


.greeting h5 {
    font-size: 16px;
    color: #919191;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.greeting h1 {
    font-size: 38px;
    color: #414141;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}