.btn {
    margin-top: 15px;
    background-color: #fec544;
    color: #070d1b;
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
    padding: 12px 1.5em;
    border-radius: 50px;
    min-width: 170px;
    width: 200px;
    border: none;
    outline: none;
    transition: all 0.4s ease;
    text-transform: capitalize;
    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}


