@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.btn {
    @include text($secondFontFamily,16px,500,1px,$buttonTextColor);
    @include flexible(inline-flex,column, center, center);
    margin-top: 15px;
    background-color: $mainElementsColor;
    line-height: 1.5em;
    padding: 12px 1.5em;
    border-radius: 50px;
    min-width: 170px;
    width: 200px;
    border: none;
    outline: none;
    transition: all 0.4s ease;
    text-transform: capitalize;
    &:hover {
        background-color: $bgButtonColor;
        color: black;
        cursor: pointer;
    }
}


