@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.navBlock {
    width: 80%;
    margin: 0 auto;
    @media only screen and (max-width: 610px) {
            padding: 10px 0;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        & a {
            @include text($secondFontFamily,15px,500,0.4px,$secondElementsTextColor);
            display: inline-block;
            margin-right: 20px;
            line-height: 40px;
            padding: 0 5px;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: $mainElementsColor;
            }
        }
    }
}








