$mainElementsColor: #fec544;
$bgColor: #070d1b;
$bgSecondColor: #0a101e;
$buttonTextColor: #070d1b;
$bgButtonColor: #FFF;
$bgInputColor: #101624;
$borderInputColor: #232935;
$mainElementsTextColor: #a9adb8;
$secondElementsTextColor: #fdfeff;
$mainFontFamily: 'Inter', sans-serif;
$secondFontFamily: 'Roboto', sans-serif;
