@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.footerBlock {
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    .copyRight {
        @include text($mainFontFamily,1rem,400,0.8px,$mainElementsTextColor);
        line-height: 1.6rem;
        text-align: center;
        margin: 0;
    }
}

