.projectsBlock {
    min-height: 100vh;
}

.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.projects{
    border: 2px dotted floralwhite;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 936px) {
    .projects{
        justify-content: center;
    }
}