.projectsBlock {
    min-height: 100vh;
    background: #0a101e;
}

.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background: #eac4ba;
}

.projects{
    border: 2px dotted floralwhite;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}